/* Colors */
$main-color: #2c3e50;
$light-main-color: scale-color($main-color, $lightness: 90%);
$accent-color: #42b983;

/* Spacing */
$normal-spacing: 1rem;
$large-spacing: $normal-spacing * 2;
$small-spacing: $normal-spacing / 2;

/* Game variables */
$cell-size: 100px;
